{% extends 'base.html' %}
{% block title %} 메인 {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<div class="category">
  <div class="category-container">
    {% for cat in data.category %}
    <div
      style="width: 300px; height: 200px"
      class="category-container-div"
      onclick="location.href='/result/{{ cat }}'"
    >
      <span>{{ cat }}</span><br /><br />
      <img style="width: 300px; height: 200px" src="./static/img/{{cat}}.png" />
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
