{% extends 'base.html' %}

{% block title %}
    메인
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container">
    <div class="wrap">
        <form class="form-area">
            <div class="form-group mt-2 mb-2">
                <input type="text" class="form-control" id="text" name="text" placeholder="오늘은 요거 어때?">
            </div>
            <div class="main">
                <div class="review">
                    <div class="review-title">오늘의 리뷰</div>
                    <div class="menu">메뉴 : 치킨</div>
                    <p class="review-text">후기 : 오늘 너무 우울했는데 치킨 먹으니까 기분이 좋아졌네요.</p>
                </div>
                <div class="category">
                    <div class="category-title">카테고리</div>
                    <span><a href="">시원함</a></span>
                    <span><a href="">불편함</a></span>
                    <span><a href="">창피함</a></span>
                    <span><a href="">슬퍼함</a></span>
                    <span><a href="">지루함</a></span>
                    <br>
                    <span><a href="">혼란함</a></span>
                    <span><a href="">기쁘다</a></span>
                    <span><a href="">화나다</a></span>
                    <span><a href="">힘들다</a></span>
                    <span><a href="">후련함</a></span>
                    <br>
                    <span><a href="">무섭다</a></span>
                    <span><a href="">미안함</a></span>
                    <span><a href="">감사함</a></span>
                    <span><a href="">즐겁다</a></span>
                    <span><a href="">놀랍다</a></span>
                </div>
                   <div class="ranking">
                    <div class="ranking-title">오늘의 주문랭킹</div>
                    <div class="ranking-text">
                        <div>1순위 : 치킨 -- 기분 : 기쁨</div>
                        <div>2순위 : 피자 -- 기분 : 후련</div>
                        <div>3순위 : 짜장면 -- 기분 : 기쁨</div>
                        <div>4순위 : 보쌈 -- 기분 : 기쁨</div>
                        <div>5순위 : 햄버거 -- 기분 : 기쁨</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}