{% extends 'base.html' %}

{% block title %}
    메인
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container">
    <div class="wrap">
            <div class="main">
                <div class="category">
                    <div class="category-container">
                        <div class="category-container-div">
                            <span>전체보기</span>
                            <img src="">
                        </div>
                        <div class="category-container-div">
                            <span>전체보기</span>
                            <img src="">
                        </div>
                        <div class="category-container-div">
                            <span>전체보기</span>
                            <img src="">
                        </div>
                        <div class="category-container-div">
                            <span>전체보기</span>
                            <img src="">
                        </div>
                        <div class="category-container-div">
                            <span>전체보기</span>
                            <img src="">
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}