.wrap {
    margin-top: 100px;
}

.form-group > input {
    margin-bottom: 0px;
    height: 50px;
    background-color: #e8e8e8;
    border-radius: 0px;
    border: none;
}

.category {
    width: 850px;
    height: 500px;
    margin-top: 100px;
    background-color: #e8e8e8;
}

.category-title {
    width: 100%;
    height: 80px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    background-color: #fa0050;
}

.category > span {
    line-height: 130px;
    margin-left: 75px;
    margin-right: 15px;
    font-size: 20px;
}

.category > span > a {
    text-decoration: none;
    color: #000000;
}

.review-title {
    width: 100%;
    height: 80px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    background-color: #fa0050;
}

.review {
    width: 30%;
    height: 170px;
    float: right;
    background-color: #e8e8e8;
}

.menu {
    text-align: center;
    font-size: 20px;
}

.review-text {
    margin: 10px;
}

.ranking {
    float: right;
    margin-top: -300px;
    margin-right: 0px;
    height: 300px;
    background-color: #e8e8e8;
}

.ranking-title {
    width: 390px;
    height: 80px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    background-color: #fa0050;
}

.ranking-text > div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
