.wrap {
    margin-top: 100px;
}

.form-group > input {
    height: 50px;
    background-color: #e8e8e8;
    border-radius: 0px;
    border: none;
}

.ranking {
    float: right;
    margin-top: 46px;
    height: 350px;
    background-color: #e8e8e8;
}

.ranking-title {
    width: 390px;
    height: 80px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    background-color: #fa0050;
}

.ranking-text {
    margin-top: 30px;
}

.ranking-text > div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.result-title {
    margin-top: 80px;
    font-size: 30px;
}

.store {
    margin-top: 46px;
    display: grid;
    float: left;
    text-align: center;
    grid-template-columns: 300px 300px auto;
    grid-template-rows: 200px 10px 200px;
}

.store-box {
    font-size: 20px;
    line-height: 130px;
    padding: 10px;
    width: 250px;
    height: 150px;
    background-color: #e8e8e8;
}

/* mystyle.css */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}